{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<style>
    .register-container { 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .register-form {
        width: 300px; /* Adjust the width as needed */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .register-form input[type="text"],
    .register-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    .register-form input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div class="register-container">
    <div class="register-form">
        <h2 align="center">Register</h2>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <label for="confirm_password">Confirm Password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password"><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
{% endblock %}