{% extends "base.html" %}
{% load static %}
{% block title %} Custom Page {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'mainstyle.css' %}">
<link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>

{% if username %}
    {% if random_question %}
        <h2 class ="textstyle">{{ random_question.question }}</h2>
    {% else %}
        <h2 class ="textstyle">Feedback</h2>
    {% endif %}
    <div class = "AccessToggleButton">
        <form method="POST" action="{% url 'accessibilityCustompage' %}">
            {% csrf_token %}
            <button type="submit">Toggle Accessibility</button>
        </form>
    </div>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="question" value="{{ random_question.question }}">
        <input id="custom_form" class="custom_skill" type="text" name="skills" placeholder="Please enter a skill e.g. Communication" size="100">
        <input type="submit" class="the_button" value="Enter">
        <br>
        <textarea id="the_form" class="response_textareas" type="text" name="user_ans"></textarea>
        <br>
        <input id = "the_button" class="the_button" type="button" value="Answer">
        <input class="the_button" type="submit" value="Submit">
    </form>

    <h2 class ="textstyle">Analysis</h2>
    <form id="response_form" method="post">
        {% csrf_token %}
        <input type="hidden" name="question" value="{{ random_question.question }}">
        <textarea id="response_textarea" class="response_textareas" name="response">{{ analysis_content }}</textarea>
        <br>
        <button class="the_button" type="submit" name="save_feedback">Save Feedback</button>
    </form>

{% else %}
    <h2 class ="textstyle" >You need to login</h2>
{% endif %}
    <script type="text/javascript" src="{% static 'functionality.js' %}"></script>
{% endblock %}