{% extends "base.html" %}
{% load static %}

{% block title %} Main Page {% endblock %}

{% block content %}

{% if username %}
<h1>Interview Question</h1>
    {% if random_question %}
        <h2>{{ random_question.question }}</h2>
    {% else %}
        <h2>Feedback</h2>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input id="the_button" type="button" value="Click to Speak">
        <input id="the_form" type="text" name="q" size=80 >
        <input type="submit" value="Submit">

    </form>

    <h1>Provide Your Response</h1>
        <form id="response_form" method="post">
            {% csrf_token %}
            <textarea id="response_textarea" name="response">{{ analysis_content }}</textarea>
            <br>
            <button type="submit" name="save_feedback">Save Feedback</button>
        </form>

        <!-- JavaScript code to automatically fill the textarea with analysis content -->
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var analysisContent = "{{ analysis_content|escapejs }}";
                document.getElementById('response_textarea').value = analysisContent;
            });
        </script>

    <h1>Reload Page</h1>
    <button onclick="reloadPage()">Reload Page</button>
{% else %}
    <h1>You need to login</h1>
{% endif %}
<script type="text/javascript" src="{% static 'functionality.js' %}"></script>
{% endblock %}