{% extends "base.html" %}
{% load static %}
{% block title %} Feedback {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'mainstyle.css' %}">
<link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>

{% if username %}
    <h2 class ="textstyle">Your Feedback:</h2>
    {% if user_feedback %}
        <ul>
            {% for feedback in user_feedback %}
                <li>{{ feedback.question }}</li>
                <li>{{ feedback.feedback_text }}</li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No feedback available.</p>
    {% endif %}
{% else %}
    <h2 class ="textstyle">You need to login</h2>
{% endif %}
{% endblock %}